<html>
    <body>
        <table>
            <tr>
                <td>ID</td>
                <td>Titulo</td>
                <td>Descrição</td>
                <td>Preço</td>
            </tr>
            <%console.log(lista[0].id) %>
               <%for(var i=0;i<lista.length;i++) { %>
                     <tr>
                         <td><%=lista[i].id %></td>
                         <td><%=lista[i].titulo %></td>
                         <td><%=lista[i].descricao %></td>
                         <td><%=lista[i].preco %></td>
                    </tr>
               <% } %>
            
        </table>
    </body>
</html>